html
    head
        // https://generator.jspm.io/#a2NhYGBiLs7MLchJ1U0qTUlPLdFNrSgoSi0uZihKTUwu0U3Jz3UwtNAz0jPQT87JTM0rgYhDxQCPbzvbQAA
        script(type="importmap").
            {
            "imports": {
            "react": "https://ga.jspm.io/npm:react@18.2.0/index.js",
            "react-dom/client": "https://ga.jspm.io/npm:react-dom@18.2.0/client.js",
            "react-router-dom": "./react-router-dom.js?v=6.11.1"
            },
            "scopes": {
            "https://ga.jspm.io/": {
            "react-dom": "https://ga.jspm.io/npm:react-dom@18.2.0/index.js",
            "scheduler": "https://ga.jspm.io/npm:scheduler@0.23.0/index.js"
            }
            }
            }
        script(type="module" src=fingerprint('index.js'))
        link(href=fingerprint('app.css') rel='stylesheet')
    body
        main
